{% extends "owner/owner_base.html" %}

{% block title %}
Add Category
{% endblock %}

{% block content %}

<h1>Add Category</h1>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

<form method="POST">

    <label>Category Name</label>

    <input
        type="text"
        name="name"
        placeholder="Enter category name"
        required
    >

    <button type="submit">
        Add Category
    </button>

</form>

<a href="{{ url_for('categories.owner_categories') }}">
    ← Back to Categories
</a>

{% endblock %}